<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Egresos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab vertical="middle" horizontal="end">
    <ion-fab-button (click)="alta()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-virtual-scroll [items]="movimientos">
    <ion-item *virtualItem="let m">
      <ion-label>
        <h1>{{m.fecha | date: 'dd/MM/yyyy'}}</h1>
        <h2>{{m.monto | currency}}</h2>
        <h2>{{m.nombre}}</h2>
        <h2>{{m.observaciones}}</h2>
      </ion-label>
      <ion-button color="primary" (click)="editar(m.key)">Editar</ion-button>
      <ion-button color="danger" (click)="eliminarMessage(m.key)">Eliminar</ion-button>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
